__pycache__/
*.pyc
venv/
.venv/
*.egg-info/
.pytest_cache/
.env
.DS_Store
*.db
data/raw/*.json
!data/raw/.gitkeep
# IDE Settings
.idea/
.vscode/

# Testing and Coverage
.coverage
htmlcov/

# Build Artifacts
build/
dist/
.eggs/

# Windows Caches
Thumbs.db